
<div class="panel panel-info">
	<div class="panel-heading">
	<b>{{blogPost.blogTitle}}</b><br> 
	<b>Posted On:{{blogPost.postedOn | date:'medium'}}</b><br>
        <b>Posted By:{{blogPost.postedBy.firstname}}   &nbsp;   {{blogPost.postedBy.lastname}}</b>
        </div>
        <div class="panel panel-body">
        {{blogPost.blogContent}}
        </div>
        <br>

        <div>
       <button ng-click="approve(blogPost)"class="btn btn-primary">Approve</button>
       <button class="btn btn-danger" ng-click="reject(blogPost)">Reject</button>
       </div>
       </div>